body {
    font-family: 'Inter';
}
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f7;
}

.parent-box {
    height: 581px;
    width: 442px;
    background: #FFFFFF;
}

.box-title {
    color: #FF6B82;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coupon-box {
    display: flex;
    border: 1px solid #A7A7A740;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 74px;
}

.coupon-size-color{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}
.t-head{
    font-weight: 500;
    font-size: 12px;
    text-align: left;
}
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 80px;
}

.custom-select-wrapper select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background: transparent;
    font-size: 10px;
    background-color: white;
}

.custom-select-wrapper::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 8px;
    color: #333;
}

.discount-on-click{
    display: flex;
    padding: 3px;
    background-color: #FF6B82;
    font-size: 10px;
    color: white;
    margin-left: 5px;
}

.coupon-discount-percent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6B82;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 70px;
    border-right: #f0e9ea dotted 3px;
}

.coupon-discount-percent span {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

.coupon-offers {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

.select-box {
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #FF6B82;
    cursor: pointer;
    background-color: white;
}

.select-box:checked::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF6B82;
}

.coupon-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    line-height: 25px;
}


/* cart  */
.cart {
    margin-left: 20px;
    margin-right: 20px;
}

.cart-text {
    display: flex;
    justify-content: space-between;
}

.cart-text p:first-of-type {
    color: #FF6B82;
    font-weight: 500;
    font-size: 18px;
}
.cart-button{
    width: 100%;
    background: #FF6B82;
    display: flex;
    justify-content: center;
    height: 40px;

}
.cart-button button{
    background: #FF6B82;
    border: none;
    color: white;
    cursor: pointer;
}
.cart-footer{
    text-align: center;
}
.cart-footer p{
    font-weight: 600;
    color: #D4D4D4;
}